{% extends "ajax_base.html" %}

{% block customcss %}

#editLocationsDiv {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    

}

#resultBar {
    min-height: 25px;
    min-width: 90%;
    margin-top: 5px;
    padding-left: 12px;
    padding-top: 6px;
}

.locationToEdit {
    width: 600px;
    text-align: center;
    border-spacing: 0px;
}
.locationToEdit td {
    border: 1px solid #d1d1d1;
    background-color: #f0edee;
    padding: 5px;
    padding-top: 6px;
}

.locationToEditName {
    width: 300px;
}

.locationToEditSupervisor {
    width: 150px;
}

.locationToEditButton {
    width: 150px;
}

.greenbg {
    background-color: #D3FFD1;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

.redbg {
    background-color: #F78D8D;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}


{% endblock %}

{% block customjs %}
<script type="text/javascript">
$(document).ready(function() {

  $(".editLocationForm").live('submit', function(event) {
    event.preventDefault();
    $.post($(this).attr('action'), $(this).serialize(), function(data) {
      $("#resultBar").hide()
      $("#editLocationsDiv").empty().append(data)
      $("#resultBar").empty().addClass("greenbg").append("The shift was succesfully edited.").fadeIn().delay(1000).fadeOut();
      
      }, "html")
  })
})
</script>

{% endblock %}

{% block maincontent %}
<div id="resultBar"></div>
<div id="editLocationsDiv">
    {% for eachLocation in locations %}
    <table class="locationToEdit">
        <tr>
            <form class="editLocationForm" action="/ajaxModifyLocation/" method="post">
            <td class="locationToEditName"><input id="newLocationName" name="newLocationName" size="40" type="text" value="{{ eachLocation.locationName }}" /></td>
            <td class="locationToEditSupervisor">
                <input type="hidden" name="locationId" id="locationId" value="{{ eachLocation.id }}" />
                <select id="newSupervisor" name="newSupervisor">
		    {% for eachSupervisor in supervisors %}
			{% if eachLocation.supervisor.username == eachSupervisor %}
			<option value="{{ eachSupervisor }}" selected="selected">{{ eachSupervisor }}</option>
			{% else %}
			<option value="{{ eachSupervisor }}">{{ eachSupervisor }}</option>
			{% endif %}
		  
		    {% endfor %}
                </select>
            </td>
	    <td><input type="checkbox" id="toDelete" name="toDelete" value="toDelete">Delete?</input></td>
            <td class="locationToEditButton">
            <input type="submit" value="Edit" />
        </td>
            </form>
    </tr>
    </table>
    {% endfor %}
</div>
        
{% endblock %}