{% extends "ajax_base.html" %}

{% block customcss %}
#availabilityTable {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
#availabilityTable, td {

    border: 1px solid #d1d1d1;
    border-collapse: collapse;
    background-color: #f0edee;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    min-width: 150px;
}

#availabilityDiv {
    padding-left: 12px;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    align: center;
    width: 90%;
    overflow-x: scroll;
    height: 750px;
    
}

.unavailable {
    background-color: #FF6969;
}

.preferred {
    background-color: #B0FFAD;
}

.notpreferred {
    background-color: #FFE4A8;
}

.available {
    background-color: #A8BAFF;
}

.selected {
    background-color: #F78D8D;
}

{% endblock %}

{% block customjs %}
{% endblock %}

{% block maincontent %}
<div id="availabilityDiv">
    <table id="availabilityTable">
        <tr>
            {% for eachCell in firstRow %}
                <td>{{ eachCell }}</td>
	    {% endfor %}
	</tr>
	<tr>
	    {% for eachCell in secondRow %}
                <td>{{ eachCell }}</td>
	    {% endfor %}
	</tr>
	    {% for eachRow in availabilityRows %}
	<tr>
	    {% for eachCell in eachRow %}
                {{ eachCell|safe }}
	    {% endfor %}
	</tr>
	    {% endfor %}	
</table>
    </div>
{% endblock %}