{% extends "ajax_base.html" %}

{% block customcss %}
    
#shiftChangeRequestsAccordion {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 70%;
    margin-top: 50px;
    font-size: 80%;
}

.approveAll {
}

.denyAll {

    }
    
.approveIndividual {
    margin-left: 10px;
}

{% endblock %}

{% block customjs %}
<script type="text/javascript">
    $(document).ready(function() {
        var refreshChangeRequests = function() {
            $("#shiftChangeRequestsAccordion").empty().load("/ajaxGetChangeShiftRequests/", function() {
                $("#shiftChangeRequestsAccordion").accordion("destroy");
                $("#shiftChangeRequestsAccordion").accordion();
                $("#shiftChangeRequestsAccordion").accordion( "option", "collapsible", true );
            })
        }

        var handleApproveAll = function () {
            var thisForm = $(this).closest("form")
            var arrayToSend = {}
            arrayToSend['requestType'] = 'approveAll'
            arrayToSend['changeRequestId'] = thisForm.find('input[name="changeRequestId"]').val()
            $.post('/ajaxProcessChangeRequest/', arrayToSend, function() {refreshChangeRequests()})
        }
        
        var handleDenyAll = function () {
            var thisForm = $(this).closest("form")
            var arrayToSend = {}
            arrayToSend['requestType'] = 'denyAll'
            arrayToSend['changeRequestId'] = thisForm.find('input[name="changeRequestId"]').val()
            $.post('/ajaxProcessChangeRequest/', arrayToSend, function() {refreshChangeRequests()})
        }
        var handleDenyIndividual = function () {
            var thisForm = $(this).closest("form")
            var arrayToSend = {}
            arrayToSend['requestType'] = 'denyIndividual'
            arrayToSend['changeRequestId'] = thisForm.find('input[name="changeRequestId"]').val()
            arrayToSend['shiftId'] = thisForm.find('input[name="shiftId"]').val()
            $.post('/ajaxProcessChangeRequest/', arrayToSend, function() {refreshChangeRequests()})
        }
        
        var handleApproveIndividual = function () {
            var thisForm = $(this).closest("form")
            var arrayToSend = {}
            arrayToSend['requestType'] = 'approveIndividual'
            arrayToSend['changeRequestId'] = thisForm.find('input[name="changeRequestId"]').val()
            arrayToSend['shiftId'] = thisForm.find('input[name="shiftId"]').val()
            $.post('/ajaxProcessChangeRequest/', arrayToSend, function() {refreshChangeRequests()})
        }
        

    refreshChangeRequests()
        
    $(".approveAll").live("click", handleApproveAll)
    $(".denyAll").live("click", handleDenyAll)
    $(".approveIndividual").live("click", handleApproveIndividual)
    $(".denyIndividual").live("click", handleDenyIndividual)
        
    })
</script>
{% endblock %}

{% block maincontent %}
<div id="shiftChangeRequestsAccordion">

</div>
{% endblock %}