<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--
    ### This file is part of the Savu Scheduler application
    ### Copyright 2011 Fletcher Haynes

### Licensed under the Apache License, Version 2.0 (the "License");
### you may not use this file except in compliance with the License.
### You may obtain a copy of the License at
### 
###     http://www.apache.org/licenses/LICENSE-2.0
### 
### Unless required by applicable law or agreed to in writing, software
### distributed under the License is distributed on an "AS IS" BASIS,
### WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
### See the License for the specific language governing permissions and
### limitations under the License.
-->
<link rel="stylesheet" type="text/css" href="/site_media/css/ddsmoothmenu.css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>

<script type="text/javascript" src="/site_media/js/ddsmoothmenu.js">
/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

ddsmoothmenu.init({
	mainmenuid: "smoothmenu2", //Menu DIV id
	orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
	//customtheme: ["#804000", "#482400"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>



</script>
<style type="text/css">
<!--

html, body {
	margin: 0px;
	padding: 0px;
}

#loginForm {
	font: 12px Verdana;
	color: white;
	margin-top: -28px;
	float: right;
}

#passwordBox {
	margin-right: 15px;
	
}

#contentContainer {
	width: 100%;
	margin-left: 10%
	margin-right: 10%
}

#welcomeMessage {
	width: 100%;
	text-align: center;
}

{% block customcss %}
{% endblock %}
-->
</style>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
<link type="text/css" href="/site_media/css/smoothness/jquery-ui-1.8.14.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/site_media/js/js/jquery-ui-1.8.14.custom.min.js"></script>

<script type="text/javascript" src="https://raw.github.com/sniku/jQuery-doubleScroll/master/jquery.doubleScroll.js"></script>

{% block customjs %}
{% endblock %}

</head>

<body>

<div id="contentContainer">
<div id="smoothmenu1" class="ddsmoothmenu">
<ul>
	<li><a href="/ajaxHome/">Home</a></li>
    <li><a href="/ajaxViewSchedule/">View Schedule</a></li>
    <li><a href="/ajaxManageAvailability/">Manage Availability</a></li>
    <li><a href="/ajaxManageProfile">Manage Profile</a></li>
    {% if isSupervisor %}
    <li><a href="#">Admin</a>
    	<ul>
        	<li><a href="/ajaxViewAllAvailabilities/">View Availabilties</a></li>
            <li><a href="/ajaxEditLocations/">Edit Locations</a></li>
            <li><a href="/ajaxEditShifts/">Edit Shifts</a></li>
	    <li><a href="/ajaxViewChangeShiftRequests/">View Shift Change Requests</a></li>
        </ul>
    </li>
    {% endif %}
    <li><a href="/accounts/logout/">Logout</a></li>
</ul>
<br style="clear: left" />

</div>

{% block maincontent %}
{% endblock %}
</div>

</body>
</html>
