{% extends "ajax_base.html" %}

{% block customcss %}
#mainContentDiv {
margin-top: 100px;
margin-left: 10%;
margin-right: 10%;
text-align: center;
}

.newsEntry {
    width: 100%;
    margin-top: 20px;
}
.newsHeader {
    width: 100%;
    background-color: #F0EDEE;
    border: 1px solid #d1d1d1;
    text-align: left;
    padding: 5px;
}

.newsBody {
    width: 100%;
    background-color: #F0F0F0;
    text-align: left;
    padding: 5px;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.claimShiftForm {
    display: inline;
}

.claimShiftForm button {
    float: right;
}


.greenbg {
    background-color: #D3FFD1;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

.redbg {
    background-color: #F78D8D;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

.newsEntry button {
    float: right;
}
{% endblock %}

{% block maincontent %}
    <script>
        $(".submitClaimButton").live("click", function(event) {
            event.preventDefault();
            var thisForm = $(this).closest("form");
            $.post("/ajaxClaimShifts/", $(this).closest("form").serialize(), function() {
                if (data == "ok") {
                    $("#resultBar").empty().addClass("greenbg").append("You successfully submitted a claim for the selected shifts.").fadeIn().delay(5000).fadeOut();
                } else {
                    $("#resultBar").empty().addClass("redbg").append("There was an error processing your request.").fadeIn().delay(5000).fadeOut();
                $("#mainContentDiv").load("/ajaxGetOpenShifts/");
            }
	});
        }); 
        $(document).ready(function() {
            var locations = {};
            $("#mainContentDiv").empty();
            $("#mainContentDiv").load("/ajaxGetOpenShifts/", function(data) {

            });
        });
    </script>
<div id="mainContentDiv">
    <div id="resultBar"></div>
</div>
{% endblock %}
