{% extends "ajax_base.html" %}

{% block customcss %}
#editProfileDiv {
    width: 80%;
    margin-left: 10%;
    magin-right: 10%;
    min-height: 600px;
}

#editProfileTable {
   margin-top: 10px;

}
#editProfileTable, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d1d1d1;
    border-collapse: collapse;
    background-color: #f0edee;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;


}

#updateProfileTd {
text-align: center;
}
.greenbg {
    background-color: #D3FFD1;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}
#resultBar {
    min-height: 25px;
    min-width: 90%;
    margin-top: 5px;
    padding-left: 12px;
    padding-top: 6px;
}

{% for eachWorker in users %}

.{{ eachWorker.username }} {
    background-color: {{ eachWorker.get_profile.color }};
    color: {{ eachWorker.get_profile.textColor }};
}

{% endfor %}

{% endblock %}

{% block customjs %}


<script type="text/javascript" src="/site_media/modcoder_excolor/jquery.modcoder.excolor.js"></script>

<script type="text/javascript">
$(document).ready(function() {
   $("#foreground").modcoder_excolor({effect:'fade'});
   $("#background").modcoder_excolor({effect:'fade'});
   $("#editProfileDiv").tabs()

   var buildIcalString = function () {
      var icalString = ''
      $('#sltLocations option:selected').each(function () {
         icalString += $(this).val()+"&"
      })
      $('#sltWorkers option:selected').each(function () {
         icalString += $(this).val()+"&"
      })
      console.log(icalString)
      $.get('/ajaxGetIcalString/', {icalStringA:icalString}, function(data) {
               console.log(data)
               $("#icalString").val('http://{{sitename}}/getIcal/?'+data)
      })

   }
   
   $("#btnGetIcalString").click(buildIcalString)
   
   var updateProfile = function() {
        $.post("/ajaxUpdateProfile/", {
            firstName:$("#firstName").val(),
            lastName:$("#lastName").val(),
            email:$("#email").val(),
            foreground:$("#foreground").val(),
            background:$("#background").val()
            
            }, function (data) {
                if (data == "ok") {
                    $("#resultBar").empty().addClass("greenbg").append("Profile updated!").fadeIn().delay(5000).fadeOut();
                }
   }, "html")
   }
   
   {% if isSupervisor %}
   var updateTargetProfile = function() {
      arrayToSend = {}
      arrayToSend['targetWorker'] = $("#sltTargetUser").val()
      arrayToSend['actionToTake'] = $("#sltActionToTake").val()
      arrayToSend['firstName'] = $("#firstName").val()
      arrayToSend['lastName'] = $("#lastName").val()
      arrayToSend['email'] = $("#email").val()
      arrayToSend['foreground'] = $("#foreground").val()
      arrayToSend['background'] = $("#background").val()
      
      $.post("/ajaxUpdateProfile/", arrayToSend, function(data) {
         if (data == "ok") {
            $("#resultBar").empty().addClass("greenbg").append("Target profile was updated!").fadeIn().delay(3000).fadeOut();
      }
   }, "html")
   }
   
   var updateForm = function() {
      targetInfo = $.get("/ajaxGetTargetProfile/", {targetWorker : $("#sltTargetUser").val()}, function(data) {
         $("#firstName").val(data.firstName)
         $("#lastName").val(data.lastName)
         $("#email").val(data.email)
         $("#foreground").val(data.foreground)
         $("#background").val(data.background)
      }, "json")
      
   }
   $("#sltTargetUser").change(updateForm)
   {% endif %}

   {% if isSupervisor %}
   $("#btnUpdateProfile").click(updateTargetProfile)
   {% else %}
   $("#btnUpdateProfile").click(updateProfile);
   {% endif %}
   
})
</script>
{% endblock %}

{% block maincontent %}

<div id="editProfileDiv">
    <ul>
        <li><a href="#profileTabs1">Personal Info</a></li>
        <li><a href="#profileTabs2">iCal</a></li>
    </ul>
    <div id="profileTabs1">
    <table id="editProfileTable">
        <form id="editProfileForm">
        {% if isSupervisor %}
         <tr>
            <td><label for="manageOtherUser">Manage Other User:</label></td>
            <td><select name="sltTargetUser" id="sltTargetUser">
                  {% for eachUser in users %}
                     {% if eachUser.username == user.username %}
                        <option class="{{ eachUser.username }}" value="{{ eachUser.username }}" selected="selected">{{ eachUser.username }}</option>
                     {% else %}   
                        <option class="{{ eachUser.username }}" value="{{ eachUser.username }}">{{ eachUser.username }}</option>
                     {% endif %}
                  {% endfor %}
               </select>
            </td>
         </tr>
         <tr>
            <td><label for="actionToTake">Action to Take:</label></td>
            <td><select name="sltActionToTake" id="sltActionToTake">
                  <option value="edit">Edit</option>
                  <option value="delete">Delete</option>
               </select>
            </td>
         </tr>
         {% endif %}
        <tr>
            <td><label for="firstName">First Name:</label></td>
            <td><input type="text" size="25" id="firstName" name="firstName" value="{{ user.first_name }}"/></td>
        </tr>
        <tr>
            <td><label for="lastname">Last Name:</label></td>
            <td><input type="text" size="25" id="lastName" name="lastName" value="{{ user.last_name }}"/></td>
        </tr>
        <tr>
            <td><label for="email">E-Mail:</label></td>
            <td><input type="text" size="25" id="email" name="email" value="{{ user.email }}"/></td>
        </tr>
        <tr>
            <td><label for="foreground">Foreground Color:</label></td>
            <td><input type="text" size="10" id="foreground" name="foreground"  value="{{ profile.textColor }}"/></td>
        </tr>
        <tr>
            <td><label for="background">Background Color:</label></td>
            <td><input type="text" size="10" id="background" name="background" value="{{ profile.color }}"/></td>
        </tr>
        <tr>
            <td id="updateProfileTd" colspan="2"><button type="button" id="btnUpdateProfile" name="btnUpdateProfile">Update Profile</button></td>
        </form>
        </tr>
        
    </table>
    
    </div>
   <div id="profileTabs2">
      <h2>iCal Configuration</h2>
      <p>Here you can get a link to a customized iCal page. You can enter this URL in Google Calendar, Outlook, Apple's iCal to import the selected events.</p>
      <p>As the schedule changes, the program should automatically update to reflect the changes. To get a link, select the locations and users you would like to
      show up on your calendar. You can hold CTRL and select on Windows, or Option and then click on a mac to select multiple items. Then click Get Link. The box will
      fill with a link to your custom calendar. Just paste it into whatever program accepts an iCal feed.</p>
      <p>Note: Google Calendar appears to have issues with iCal feeds at this time, and it may not work.</p>
      <select name="sltLocations" id="sltLocations" multiple size=5>
         {% for eachLocation in locations %}
            <option value="{{ eachLocation.locationName }}">{{eachLocation.locationName}}</option>
         {% endfor %}
      </select>
      <select multiple name="sltWorkers" id="sltWorkers" size=5>
         {% for eachUser in users %}
            <option value="{{ eachUser.username }}">{{eachUser.username}}</option>
         {% endfor %}
      </select>
      <br>
      <br>Link: <input type="text" length="30" id="icalString" /><button type="button" id="btnGetIcalString">Get Calendar Link</button>
   
   </div>
    <div id="resultBar"></div>
</div>

{% endblock %}