{% extends "ajax_base.html" %}

{% block customcss %}
.shiftTable {
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
}
.shiftTable td {
    border: 1px solid #d1d1d1;
    background-color: #f0edee;
    padding: 5px;
    padding-top: 6px;
}

#editShiftsDiv {
    width: 35%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.formInput {
    text-align: left;
}

.formLabel {
    text-align: right;
}

#repeatTdOne {
    border-right: 0px;
}

#repeatTdTwo {
    border-left: 0px;
}

#resultBar {
    min-height: 25px;
    min-width: 90%;
    margin-top: 5px;
    padding-left: 12px;
    padding-top: 6px;
}

.greenbg {
    background-color: #D3FFD1;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

.redbg {
    background-color: #F78D8D;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

{% endblock %}

{% block customjs %}
<script type="text/javascript">
    $(document).ready(function() {
    $("#editShiftStartDate").datepicker();
    $("#editShiftEndDate").datepicker();
    $("#editShiftForm").submit(function(event) {
        event.preventDefault();
        var startDateString = $("#editShiftStartDate").val();
        var startDate = new Date(startDateString)
        var endDateString = $("#editShiftEndDate").val();
        var endDate = new Date(endDateString)
        if (endDate < startDate) {
            $("#resultBar").empty().addClass("redbg").append("Ending date cannot be after starting date.").fadeIn().delay(3000).fadeOut();
            return
        }
        
        $.post($(this).attr('action'), $(this).serialize(), function(data) {
            if (data.resultString == "ok") {
                if ($("#sltActionToTake").val()=="add") {
                $("#resultBar").empty().addClass("greenbg").append("Shifts successfully added!").fadeIn().delay(3000).fadeOut();
                } else if ($("#sltActionToTake").val() == "remove") {
                $("#resultBar").empty().addClass("greenbg").append("Shifts successfully removed!").fadeIn().delay(3000).fadeOut();
                }
            } else {
                $("#resultBar").empty().addClass("redbg").append("There was an unknown error adding that shift!").fadeIn().delay(3000).fadeOut();
            }
          }, "json");
            });
    })
</script>
{% endblock %}

{% block maincontent %}
<div id="resultBar"></div>
<div id="editShiftsDiv">
    <form action="/ajaxEditShift/" method="post" id="editShiftForm" />
    <table class="shiftTable">
        <tr>
            <td class="formLabel">Action:</td>
            <td class="formInput" colspan="2">
                <select name="actionToTake" id="sltActionToTake">
                    <option value="add">Add a Shift</option>
                    <option value="remove">Remove a Shift</option>
                </select>
        </tr>
        <tr>
            <td class="formLabel">Starting Date:</td>
            <td colspan="2" class="formInput"><input type="text" name="startDate" id="editShiftStartDate" size="9" /></td>
        </tr>
        <tr>
            <td>Ending Date:</td>
            <td colspan="2" class="formInput"><input type="text" name="endDate" id="editShiftEndDate" size="9" /></td>
        </tr>
        <tr> 
            <td class="formLabel">Starting Time:</td> 
            <td colspan="2" class="formInput">
              <select name="startHour" id="startHour"> 
                <option value="12">12</option> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option> 
                <option value="6">6</option> 
                <option value="7">7</option> 
                <option value="8">8</option> 
                <option value="9">9</option> 
                <option value="10">10</option> 
                <option value="11">11</option> 
              </select> 
              <select name="startMinute" id="startMinute"> 
                <option value="00">00</option> 
                <option value="30">30</option> 
              </select> 
              <select name="startAmPm" id="startAmPm"> 
                  <option value="AM">AM</option> 
                  <option value="PM">PM</option> 
              </select></td> 
        </tr>
        <tr> 
            <td class="formLabel">Ending Time:</td> 
            <td colspan="2" class="formInput">
              <select name="endHour" id="endHour"> 
                <option value="12">12</option> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option> 
                <option value="6">6</option> 
                <option value="7">7</option> 
                <option value="8">8</option> 
                <option value="9">9</option> 
                <option value="10">10</option> 
                <option value="11">11</option> 
              </select> 
              <select name="endMinute" id="endMinute"> 
                <option value="00">00</option> 
                <option value="30">30</option> 
              </select> 
              <select name="endAmPm" id="endAmPm"> 
                  <option value="AM">AM</option> 
                  <option value="PM">PM</option> 
              </select></td> 
        </tr>
        <tr>
            <td class="formLabel">Location:</td>
            <td colspan="2" class="formInput"><select name="location">
                {% for eachLocation in locations %}
                    <option value="{{ eachLocation.locationName }}">{{ eachLocation.locationName }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        
         <tr> 
                <td class="formLabel">Description:</td> 
                <td colspan="2" class="formInput"><input type="text" size="15" name="shiftDescription" /></td>
         </tr>
         <tr>
                <td class="formLabel">Show as News:</td>
                <td colspan="2" class="formInput"><input type="checkbox" name="showAsNews" /></td>
         </tr>
                
         <tr> 
               <td class="formLabel">Reoccur:</td> 
               <td class="formInput" id="repeatTdOne">
                   <input type="checkbox" name="rAll" value="true" />All<br />
                   <input type="checkbox" name="rMonday" value="true" />Monday<br /> 
                   <input type="checkbox" name="rTuesday" value="true" />Tuesday<br /> 
                   <input type="checkbox" name="rWednesday" value="true" />Wednesday<br /> 
                   
               </td>
               <td class="formInput" id="repeatTdTwo">
                    <input type="checkbox" name="rThursday" value="true" /> Thursday<br /> 
                   <input type="checkbox" name="rFriday" value="true" /> Friday<br /> 
                   <input type="checkbox" name="rSaturday" value="true" /> Saturday<br /> 
                   <input type="checkbox" name="rSunday" value="true" /> Sunday<br /> 
               </td> 
         </tr>
         
        <tr> 
            <td colspan="3">  
                <input type="submit" name="btnSubmit" id="btnSubmit" value="Submit" /> 
            </td> 
        </tr> 
    </table>
    </form>
</div>
{% endblock %}
