#header {
	background-color: #000;
	height: 125px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;

}
#main {
	height: 100%;
	min-height: 768px;
	background:#e7e7e7;
	width:900px;
	margin-left: auto;
	margin-right: auto;
}
#mBody {
	margin: 0px 0px 0px 0px;
	background-color: #8b8b8b;
}

#navBar {
	height: 30px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background:red;
}

#menu {
	height:100%;
	width:100%;
}

#content {
	min-height: 768px;
	width: 800px;
}

#dayLabels {
	height:25px;
	width:87%;
	margin-left:auto;

}