{% extends 'base2.html' %}

{% block title %}Register{% endblock %}

{% block customcss %}
.labelTd {
	text-align:right;
}

#mainContent {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

#newUserTable {
	margin-left: auto;
	margin-right: auto;
	background-color: #949797;
	
}

#registerText {
	margin-left: 670px;
}

{% endblock %}
{% block mainContent %}
<p id="registerText">Please fill in the form below to register.</p>
   <form action="/registernew/" method="post">
<table id="newUserTable" border="0" cellspacing="1">
  <tr>
    <td width="21%" class="labelTd">Username:</td>
    <td width="79%"><label>
      <input type="text" name="userName" id="userName" />
    </label></td>
  </tr>
    <tr>
    <td class="labelTd">E-Mail Address:</td>
    <td><label>
      <input type="text" name="email" id="email" />
    </label></td>
  </tr>
  <tr>
    <td class="labelTd">First Name:</td>
    <td><label>
      <input type="text" name="firstName" id="firstName" />
    </label></td>
  </tr>
  <tr>
    <td class="labelTd">Last Name:</td>
    <td><label>
      <input type="text" name="lastName" id="lastName" />
    </label></td>
  </tr>
  <tr>
    <td class="labelTd">Password:</td>
    <td><label>
      <input type="password" name="password" id="password" />
    </label></td>
  </tr>
  <tr>
    <td class="labelTd">Confirm Password:</td>
    <td><label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
    </label></td>
  </tr>

  <tr>
  	<td><label>
  	  
	  </label></td>
      <td><input type="submit" name="btnSubmit" id="btnSubmit" value="Submit" /></td>
  </tr>
</table>
  </form>
  {% if error %}
<div id="error">{{ error }}</div>
{% endif %}

{% endblock %}