{% extends "base2.html" %}

{% block title %}View Schedule{% endblock %}
{% block customcss %}
	
#mainContent {
	width: 100%;
	height: 100%;
	margin-top: 100px;
	min-height: 400px;
}

#viewScheduleTable table {
	background-color: #c1defe;
	color: #083568;
	margin-top: 10px;
	cellspacing: 0px;
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

#viewScheduleTable table td {
	border: 1px solid black;
	min-width: 150px;
	text-align: center;
}

.timeblock {
	min-width: 150px;
}

.datetd {
	align: center;
}

.scheduledblock {
	text-align: center;
	min-width: 150px;
}

#forms td {
text-align: left;
}

#viewScheduleTable {
	width: 65%;
	float: left;
}

#calender {
	overflow: scroll;
	height: 600px;
	margin: 2px;
}


#forms {
	width: 30%;
	float: right;
	margin-left:25px;
	margin-right: 15px;
}

.contentHeader {
	height: 20px;
	width: 100%;
	background-color: #aacff9;
	color: #083568;
	font-size:medium;
	padding-top: 6px;
	padding-left: 3px;

}

.unassigned {
background-color: #FF0033;
}
{% for key, value in colordict.items %}
.{{ key }} {
background-color: {{ value }};

}

{% for key, value in textcolordict.items %}
.{{ key }} {
color: {{ value }};
}
{% endfor %}


{% endfor %}
.manipShiftTable {
margin-top: 10px;
margin-bottom: 10px;
min-height: 300px;
}

{% endblock %}

{% block mainContent %}
<div id="viewScheduleTable">
	<div id="viewScheduleHeader" class="contentHeader">View The Schedule</div>
	    <div id="dateRangeForm">
		<p>Select the date range you want to view. mm/dd/yy</p>
    	<form action="/viewschedule/" method="post">
        <label for="dateRangeStart">Start Date:</label>
        <input name="dateRangeStart" type="text" size="9" />
        <label for="dateRangeEnd">End Date:</label>
        <input name="dateRangeEnd" type="text" size="9" />
        <input type="submit" value="Show" />
    	</form></div>
{% if showCalender %}
	<div id="calender">
        <table id="scheduleTable" cellspacing="1">
		<tr>
		{% for eachCell in firstRow %}
				<td class="datetd">{{ eachCell }}</td>
		{% endfor %}
		</tr>
		
		<tr>
		{% for eachCell in secondRow %}
			<td class="loctd">{{ eachCell }}</td>
		{% endfor %}
		</tr>
		
		{% for eachRow in calenderRows %}
		<tr>
			{% for eachCell in eachRow %}
			
			{{ eachCell|safe }}
			{% endfor %}
		</tr>
		{% endfor %}
			
        </table>
	</div>
			{% endif %}
</div>
<div id="forms">
	<div id="claimShiftForm">
	<div id="claimShiftFormHeader" class="contentHeader">Claim a Shift</div>
		<form action="/claimshift/" method="post">
          <table width="100%" class="manipShiftTable" cellspacing="1">
            <tr>
              <td width="17%">Starting Date:</td>
              <td>
		<input type="text" name="startDate" size="9" /><td>mm/dd/yyyy</td>
	      </td>
            </tr>
	    <tr>
		<td>Ending Date:
	    <td>
		<input type="text" name="endDate" size="9" /><td>mm/dd/yyyy</td>
	    </td>
	    </tr>
            <tr>
              <td>Starting Time:</td>
              <td colspan="2"><label>
                <select name="startHour" id="startHour">
                  <option value="12">12</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
              </label>
                <label>
                <select name="startMinute" id="startMinute">
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
              </label>
                <select name="startAmPm" id="startAmPm">
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
              </select></td>
            </tr>
            <tr>
              <td>Ending Time:</td>
              <td colspan="2"><label>
                <select name="endHour" id="endHour">
                  <option value="12">12</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
              </label>
                <label>
                <select name="endMinute" id="endMinute">
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
              </label>
                <select name="endAmPm" id="endAmPm">
                  <option value="AM">AM</option>
		  <option value="PM">PM</option>
              </select></td>
            </tr>
	    <tr>
		<td>Location:</td>
		<td width="8%"><select name="location">
			{% for eachLocation in locations %}
			<option value="{{ eachLocation }}">{{ eachLocation }}</option>
			{% endfor %}
		</select></td>
	    </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="submit" name="btnSubmit" id="btnSubmit" value="Claim" /></td>
              <td>&nbsp;</td>
            </tr>
          </table>
          </form>
	<div id="claimShiftResult">{% if claimError %}{{ claimError }}{% endif %}</div>
</div>
<div id="releaseShiftForm">
<div id="releaseShiftFormHeader" class="contentHeader">Release a Shift</div>
<form action="/releaseshift/" method="post">
          <table id="releaseShiftTable" class="manipShiftTable" width="100%">
            <tr>
              <td width="17%">Starting Date:</td>
              <td>
		<input type="text" name="startDate" size="9" /><td>mm/dd/yyyy</td>
	      </td>
            </tr>
	    	    <tr>
		<td>Ending Date:
	    <td>
		<input type="text" name="endDate" size="9" /><td>mm/dd/yyyy</td>
	    </td>
	    </tr>
            <tr>
              <td>Starting Time:</td>
              <td colspan="2"><label>
                <select name="startHour" id="startHour">
                  <option value="12">12</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
              </label>
                <label>
                <select name="startMinute" id="startMinute">
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
              </label>
                <select name="startAmPm" id="startAmPm">
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
              </select></td>
            </tr>
            <tr>
              <td>Ending Time:</td>
              <td colspan="2"><label>
                <select name="endHour" id="endHour">
                  <option value="12">12</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
              </label>
                <label>
                <select name="endMinute" id="endMinute">
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
              </label>
                <select name="endAmPm" id="endAmPm">
                  <option value="AM">AM</option>
		  <option value="PM">PM</option>
              </select></td>
            </tr>
	    	    <tr>
		<td>Location:</td>
		<td width="8%"><select name="location">
			{% for eachLocation in locations %}
			<option value="{{ eachLocation }}">{{ eachLocation }}</option>
			{% endfor %}
		</select></td>
	    </tr>
            <tr class="bottomRow">
              <td>&nbsp;</td>
              <td><input type="submit" name="btnSubmit" id="btnSubmit" value="Release" /></td>
              <td>&nbsp;</td>
            </tr>
          </table>
          </form>
</div>
<div id="addNoteToShiftForm">
<div id="addNoteToShiftFormHeader" class="contentHeader">Add a Note to a Shift</div>
<form action="/addnotetoshift/" method="post">
          <table id="addNoteToShiftTable" class="manipShiftTable" width="100%">
            <tr>
              <td>Starting Date:</td>
              <td>
		<input type="text" name="startDate" size="9" />mm/dd/yyyy
	      </td>
            </tr>
	    	    <tr>
		<td>Ending Date:</td>
	    <td>
		<input type="text" name="endDate" size="9" />mm/dd/yyyy
	    </td>
	    </tr>
            <tr>
                <td>Note Type</td>
                <td colspan="2">
                    <select name="noteType" id="noteType">
                        <option value="general">General Note</option>
                        <option value="swlate">Student Worker Late</option>
                        <option value="slate">Student Late</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Note Title:</td>
                <td colspan="2">
                    <input type="text" id="noteTitle" name="noteTitle" />
                </td>
            </tr>
            <tr>
              <td>Starting Time:</td>
              <td colspan="2"><label>
                <select name="startHour" id="startHour">
                  <option value="12">12</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
              </label>
                <label>
                <select name="startMinute" id="startMinute">
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
              </label>
                <select name="startAmPm" id="startAmPm">
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
              </select></td>
            </tr>
            <tr>
              <td>Ending Time:</td>
              <td colspan="2"><label>
                <select name="endHour" id="endHour">
                  <option value="12">12</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
              </label>
                <label>
                <select name="endMinute" id="endMinute">
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
              </label>
                <select name="endAmPm" id="endAmPm">
                  <option value="AM">AM</option>
		  <option value="PM">PM</option>
              </select></td>
            </tr>
	    	    <tr>
		<td>Location:</td>
		<td width="8%"><select name="location">
			{% for eachLocation in locations %}
			<option value="{{ eachLocation }}">{{ eachLocation }}</option>
			{% endfor %}
		</select></td>
	    </tr>
            <tr>
                <td>Note:</td>
                <td>
                    <textarea name="note" cols="40" rows="5">Enter your note here...</textarea>
                </td>
            </tr>
            <tr class="bottomRow">
              <td>&nbsp;</td>
              <td><input type="submit" name="btnSubmit" id="btnSubmit" value="Enter Note" /></td>
              <td>&nbsp;</td>
            </tr>
          </table>
          </form>
</div>

{% if isSupervisor %}
<div id="assignShiftForm">
	<div id="assignShiftFormHeader" class="contentHeader">Assign a Shift</div>
        <form action="/assignshift/" method="post">
          <table width="100%" class="manipShiftTable" cellspacing="1">
            <tr>
              <td width="17%">Starting Date:</td>
              <td>
		<input type="text" name="startDate" size="9" /><td>mm/dd/yyyy</td>
	      </td>
            </tr>
	    <tr>
		<td>Ending Date:
	    <td>
		<input type="text" name="endDate" size="9" /><td>mm/dd/yyyy</td>
	    </td>
	    </tr>
            <tr>
              <td>Starting Time:</td>
              <td colspan="2"><label>
                <select name="startHour" id="startHour">
                  <option value="12">12</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  </select>
                </label>
                <label>
                  <select name="startMinute" id="startMinute">
                    <option value="00">00</option>
                    <option value="30">30</option>
                  </select>
                </label>
                <select name="startAmPm" id="startAmPm">
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
              </select></td>
            </tr>
            <tr>
              <td>Ending Time:</td>
              <td colspan="2"><label>
                <select name="endHour" id="endHour">
                  <option value="12">12</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  </select>
                </label>
                <label>
                  <select name="endMinute" id="endMinute">
                    <option value="00">00</option>
                    <option value="30">30</option>
                  </select>
                </label>
                <select name="endAmPm" id="endAmPm">
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
              </select></td>
            </tr>
	    <tr>
		<td>Location:</td>
		<td width="8%"><select name="location">
			{% for eachLocation in locations %}
			<option value="{{ eachLocation }}">{{ eachLocation }}</option>
			{% endfor %}
		</select></td>
	    </tr>
	    <tr>
		<td>Target Worker: </td>
		<td>
			<select name="targetUser">
                                        <option value="unassigned">Unassigned</option>
				{% for eachTarget in targets %}
					<option value="{{ eachTarget }}">{{ eachTarget }}</option>
				{% endfor %}
			</select>
		</td>
	    </tr>
            <tr>
                <td>Days to assign:</td>
                <td>
                    <input type="checkbox" name="rAll" value="true" />All Days<br />
                    <input type="checkbox" name="rMonday" value="true" />Monday<br />
                    <input type="checkbox" name="rTuesday" value="true" />Tuesday<br />
                    <input type="checkbox" name="rWednesday" value="true" />Wednesday<br />
                    <input type="checkbox" name="rThursday" value="true" /> Thursday<br />
                </td>
                <td>
                    
                    <input type="checkbox" name="rFriday" value="true" /> Friday<br />
                    <input type="checkbox" name="rSaturday" value="true" /> Saturday<br />
                    <input type="checkbox" name="rSunday" value="true" /> Sunday<br />
                </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="submit" name="btnSubmit" id="btnSubmit" value="Assign" /></td>
              <td>&nbsp;</td>
            </tr>
          </table>
          </form>
	<div id="assignShiftResult"></div>
</div>
{% endif %}
</div>
{% endblock %}